<div class="row">
    <div class="iletisim">
        <div class="row">
            <h1 class="text-center" style="color: white;">İletişim</h1>
        </div>
        <div class="row my-5">
            <div class="col-3">
                <h3 style="color:white">Bana Ulaşın</h3>
            </div>
            <div class="col-3">
                <a href="https://www.linkedin.com/in/egemen-bahtiyar-2a9792202/">
                    <i class="fab fa-linkedin fa-3x"></i>
                </a>
            </div>
            <div class="col-3">
                <a href="https://www.instagram.com/egemen.6/">
                    <i class="fab fa-instagram fa-3x"></i>
                </a>
            </div>
            <div class="col-3">
                <a href="https://github.com/Egemen51">
                    <i class="fab fa-github fa-3x"></i>
                </a>
            </div>
        </div>
        <form class="row g-3" action="https://formsubmit.co/bahtiyaregemen51@gmail.com" method="POST">
            <div class="form-floating">
                <input type="text" class="form-control" id="isim" placeholder="İsminiz" name="İsim">
                <label for="isim">İsminiz</label>
            </div>
            <div class="form-floating">
                <input type="number" class="form-control" id="telno" placeholder="Telefon Numarası" name="Telefon Numarası">
                <label for="telno">Telefon Numarası</label>
            </div>
            <div class="form-floating">
                <input type="email" class="form-control" id="floatingInput" name="email" placeholder="name@example.com" required>
                <label for="floatingInput">Email</label>
            </div>

            <div class="form-floating">
                <textarea class="form-control" placeholder="Mesajınız" id="floatingTextarea" type="text" name="Mesaj"></textarea>
                <label for="floatingTextarea">Mesajınız</label>
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Gönder</button>
            </div>
        </form>
    </div>
</div>