@model BlogApp.Models.Blog

@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <div class="row">
        <div class="col">
            <h1>@Model.Baslik</h1>
            <hr />
            <p>
                <span><i class="bi bi-clock"></i></span>
                @Model.EklenmeTarihi
            </p>
            <div class="text-center">

                <hr />
                <img src="~/Image/@Model.Resim" asp-append-version="true" class="img-fluid" />
                <hr />
                <blockquote class="blockquote">
                    <p>@Model.Aciklama</p>
                </blockquote>
                <p>
                    @Html.Raw(Model.Icerik)
                </p>
            </div>

            <div>
                <a class="btn btn-light btn-sm mt-5" asp-controller="Home" asp-action="Index">Listeye geri dön</a>
            </div>
        </div>
    </div>
</div>
